{{extend 'layout.html'}}
<h1>Current User</h1>
<p>
    First Name: {{=userrev.first_name}} <br>
    Last Name: {{=userrev.last_name}} <br>
    Email: {{=userrev.email}} <br>
    Point: {{=userrev.point}} <br>
    
</p>
<h1>List of completed circuit</h1>
<ul>{{for circuit_tag_table in circuit_tag_table:}}
     {{=LI(A(circuit_tag_table.circuit_id.circuit_name, _href=URL('test_show_circuit', args=circuit_tag_table.circuit_id)))}}
{{pass}}
</ul>
{{=A('Back to Home', _class='btn', _href=URL('default', 'index'))}}
{{=A('Reset Point', _class='btn', _href=URL('default', 'test_reset'))}}
